body {
    background-color: rgb(240, 235, 248);
  box-sizing: content-box;

}

.border {
    border: 1px solid #dadce0;;
    border-radius: 20px;
    background-color: #fff;
  box-sizing: content-box;

}

.validation{
    border: 1px solid #d93025;
    border-radius: 20px;
    background-color: #fff;
  box-sizing: content-box;
}
.boxPageInfo{
  border: 1px solid #dadce0;
  border-radius: 20px;
  background-color: #fff;
  box-sizing: content-box;
  padding: 20px;

}