body {
    background-color: rgb(240, 235, 248);
}

.border {
    border: 0px solid #1C6EA4;
    border-radius: 20px;
    background-color: #fff;
}

.required {
    font-family: Georgia, serif;
    font-size: 25px;
    color: #FF0000;
    font-weight: 700;
}

.requiredComplite{
    border: 0px solid #FF0000;

}